.dms-background_image {
}
.dashboard-nav {
    height: 50px;
    /* background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%); */
    background: lightgray;
}

.dashboard-nav.d-flex {
    height: 100%;
    width: 100%;
}

.dashboard-nav.apps:hover,
.dashboard-nav.profile:hover {
    cursor: pointer;
}
.background_image-container {
    padding-top: 70px;
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    background-image: url('../../static/backgrounds/bg_pattern.png');
    width: auto;
    height: 150px;
}
.command_bar-card.card {
    border-radius: 150px;
}

.card-body.command_bar-container {
    height: 70px;
    width: 780px;
    padding: 15px;
    padding-left: 30px;
}

.command_bar-icon {
    width: 45px;
    transform-origin: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s ease-in-out;
}

.icon-container:hover {
    transform: translateY(-10px) scale(0.90);
    cursor: pointer;
}

.icon-container:hover + .command_bar-text {
    transform: translateY(-14px);
    opacity: 1;
}

.command_bar-text {
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out, transform 0.05s ease-in-out;
}

.command_bar-text:hover {
    display: block;
}

.cases_tab-container {
    margin-top: 45px;
    justify-content: center;
    
}
.docsLayout {
    background-image: url('/home/annette/Desktop/lawris/lawris-app/src/Assets/dmsImage.jpg');
    object-fit: cover;
    height: 100vh;

}
.search input {
    height: 30px;
    border: none;
    min-width: 20px;
    width: 100%;
    background-color: rgb(225, 225, 225);
    outline: none;
    border-radius: 5px;
    padding: 2px 23px 2px 30px;

}
.search {
    padding-bottom: 15px;
    position: relative;
    min-width: 100px;
}
.searchIcon {
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 1;
}
.clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    
  }
  .search input:hover {
    border: 1.8px solid #cf6f16;
    background-color: white;
  }
  .search input:focus {
    border: 1.8px solid #cf6f16;
    background-color: white;
  }



.logo p {
    font-weight: bold;
    font-size: large;  
}
.logo img {
    padding-bottom: 10px;
}


.menuItems ul li {
    margin-right: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.menuItems ul li:hover{
    text-decoration: underline;

    color: blue;
}

.subMenu {
    display: none;
    list-style: none;
}
.subMenu ul li {
    list-style: none;
}

.menuItems ul li:hover .subMenu {
    display: block;
    position: absolute;
    background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    margin-top: 5px;
    margin-left: -15px;
}
.menuItems ul li:hover .subMenu ul{
    display: block;
    margin: 10px;
}
.menuItems {
    margin-bottom: 10px;
}

.menuItems ul li:hover .subMenu ul li {
    /* width: 150px; */
    /* padding: 10px; */
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menuItems ul li:hover .subMenu ul li:last-child {
    border-bottom: none;
}

.app img {
    height: 30px;   
    margin-right: 10px;
    transition: transform 0.1s ease-in-out;
}
.app img:hover {
    transform: translateY(-8px);
    cursor: pointer;
}


.app {
    position: absolute;
    top: 100%;
    left: 10;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

.bgCanvas{
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background: linear-gradient(-225deg, rgba(203, 186, 204, 0.7) 0%, rgba(37, 128, 179, 0.7) 100%); */
    background-color: lightgray;
    color: white;
    font-weight: 800;
    font-size: large;
}

.close {
    color: white;
}

.dropDown {
    margin-right: 3rem;
    color: black;
    font-weight: 900;
    font-size: medium;

}
#dropdown-basic {
    margin-right: 1rem;
}
.dropDown .btn-success{
    background-color: black;
}

.userSettings {
    padding: 1rem;
    outline: none;
    border: none;
    color: #f58f7c;
    font-weight: bold;
    
}

.userProfile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile {
    position: relative;
}

.dropDownSettings {
    margin-left: 1rem;
}

.userSettings img {
    margin-right: 15px;
    margin-top: 5px;
}
.userSettings p {
    margin: 0;
}
