/* .dms-background_image {

} */
.dashboard-nav {
    height: 50px;
    background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%); 
    padding: 10px;
    /* background: rgba(255, 255, 255, 0.2); Adjust the alpha value for transparency */
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 720px) {
  .dashboard-nav {
    display: none;
  }
  
  
}
@media screen and (max-width: 767px) {
    .menu {
        display: none;
        cursor: pointer;
    }
    
}
.dashboard-nav.d-flex {
    height: 100%;
    width: 100%;
}
.main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../static/backgrounds/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height:100%;
    min-width:100%;
    /* height: auto;
    position: absolute;
    overflow: hidden;
    top:0;
    left:0; */
}
/* @media screen and (max-width:1024px) {
    .main-container {
        left: 50%;
        margin-left: -512px;
    }
} */
@media screen and (max-width: 767px) {
    .main-container {
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height:100%;
        min-width:100%;

    }
    
}

.dashboard-nav.apps:hover,
.dashboard-nav.profile:hover {
    cursor: pointer;
}
.background_image-container {
    padding-top: 70px;
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    /* background-image: url('../../static/backgrounds/bg_pattern.png'); */
    width: auto;
    height: 150px;
}
.nav-link {
    color: #fed3ca;
}

.nav-link:hover {
    color: black;
    background: #f58f7c;
}

.nav-link:active {
    color: gray !important;
    text-decoration: underline !important;
}
/* .navIntro {
    color: white;
}
.navIntro:hover{
    background-color: aquamarine;
} */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

.apps:hover {
    cursor: pointer;
    animation: bounce 2s infinite;
}

.welcomeIntro {
    color: #fed3ca;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
}
@media screen and (min-width: 576px) {
    .welcomeIntro {
        text-align:center;
    }
    
}
    

.command_bar-card.card {
    border-radius: 150px;
}

.card-body.command_bar-container {
    height: 70px;
    width: 780px;
    padding: 15px;
    padding-left: 30px;
}

.command_bar-icon {
    width: 45px;
    transform-origin: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s ease-in-out;
}

.icon-container:hover {
    transform: translateY(-10px) scale(0.90);
    cursor: pointer;
}

.icon-container:hover + .command_bar-text {
    transform: translateY(-14px);
    opacity: 1;
}

.command_bar-text {
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out, transform 0.05s ease-in-out;
}

.command_bar-text:hover {
    display: block;
}

.cases_tab-container {
    margin-top: 45px;
    justify-content: center;
    
}
.cases-tab {
    margin-top: 30px;
    color: #fff;
}
/* 
.docsLayout {
    background-image: url('/src/Assets/dmsImage.jpg');
    /* background-image: url('/home/annette/Desktop/lawris/lawris-app/src/Assets/dmsImage.jpg'); */
    /* object-fit: cover; */
    /* height: 100vh; */



.search input {
    min-width: 100px;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
.buttonSearch {
    border-radius: 8px;
    margin-bottom: 0.5rem;
    color: white;
    background-color: transparent;
    border:1px solid #f58f7c;
    margin-top: 4px;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;

}

.buttonSearch:hover {
    cursor: pointer;
    background-color: #f58f7c;
    
}
.searchIcon {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 1;
}


.logo p {
    font-weight: bold;
    font-size: large;  
}
.logo img {
    padding-bottom: 10px;
}


.menuItems ul li {
    margin-right: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.menuItems ul li:hover{
    text-decoration: underline;

    color: blue;
}

.subMenu {
    display: none;
    list-style: none;
}
.subMenu ul li {
    list-style: none;
}

.menuItems ul li:hover .subMenu {
    display: block;
    position: absolute;
    background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    margin-top: 5px;
    margin-left: -15px;
}
.menuItems ul li:hover .subMenu ul{
    display: block;
    margin: 10px;
}
.menuItems {
    margin-bottom: 10px;
    color: white;
}

.menuItems ul li:hover .subMenu ul li {
    /* width: 150px; */
    /* padding: 10px; */
    background: transparent;
    border-radius: 0;
    text-align: left;
}



.app img {
    height: 30px;   
    margin-right: 10px;
    transition: transform 0.1s ease-in-out;
}
.app img:hover {
    transform: translateY(-8px);
    cursor: pointer;
}


.app {
    position: absolute;
    top: 100%;
    left: 10;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

.bgCanvas{
    background-color: rgba(0, 0, 0, 0.8);
    /* background: linear-gradient(-225deg, rgba(203, 186, 204, 0.7) 0%, rgba(37, 128, 179, 0.7) 100%); */
    /* background-color: lightgray; */
    color: white;
    font-weight: 800;
    font-size: large;
}
.intro {
    color: white;
}
.usericon {
    fill: white;
}
.usericon:hover{
    cursor: pointer;
    transform: translate(0, 512px) scale(0.1, -0.1);
    fill: orange;
    stroke: none;
}

.close {
    color: white;
}

.dropDown {
    margin-right: 3rem;
    color: white;
    font-weight: 900;
    font-size: medium;

}
#dropdown-basic {
    margin-right: 1rem;
}
.dropDown .btn-success{
    background-color: black;
}

.userSettings {
    padding: 1rem;
    outline: none;
    border: none;
    color: #f58f7c;
    font-weight: bold;
    fill: white;
    
}
.userSettings .element:hover {
    cursor: pointer;
    background: #f58f7c;
    color: white;
}

.profileImg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 8px;
    margin-left: 12px;
}
.profileImg:hover {
    cursor: pointer;
}

.profile {
    position: relative;
}

.dropDownSettings {
    margin-left: 1rem;
}

.userSettings img {
    margin-right: 15px;
    margin-top: 5px;
}
.userSettings p {
    margin: 0;
}

.file-upload-form {
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* zIndex: 9999;*/ 
    wrap: wrap;
  }

  .file-upload-form3 {
    width: fit-content;
    height: fit-content;
    zIndex: 9999; 
  }

  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;    
    padding: 10px 25px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
    width:85vw;
  }

  .file-upload-label3 {
    cursor: pointer;    
    padding: 10px 2px;
    width:75vw;
  }

  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
  }
  .browse-button:hover {
    background-color: rgb(14, 14, 14);
  }

.myToastContainer {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.glass {
    background-color: transparent;
    backdrop-filter: blur(50px);
}

.installer {
    width: 200px;
    height: 40px;
  }
  
  .installer label {
    position: absolute;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .installer label input {
    display: none;
  }
  
  .installer label span {
    position: absolute;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #3F8EFC;
    border-radius: 5px;
  }
  
  .installer label input:checked ~ span {
    background: #87E544;
    animation: downloadSuccess 3.1s ease;
  }
  
  .installer label span:after {
    content: 'UPLOAD';
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
  }
  
  .installer label input:checked ~ span:after {
    content: 'Thank you!';
    animation: downloadState 5s;
  }
  
  .installer label span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background: rgba(255,255,255,.2);
  }
  
  .installer label input:checked ~ span:before {
    animation: downloadProgress 7s cubic-bezier(.67,.13,.1,.81);
  }
  
  @keyframes downloadSuccess {
    0%, 90% {
      background: #3F8EFC;
    }
  
    100% {
      background: #87E544;
    }
  }
  
  @keyframes downloadState {
    0%, 95% {
      content: 'UPLOADING...'
    }
  
    100% {
      content: 'Thank you for upload!'
    }
  }
  
  @keyframes downloadProgress {
    0% {
      width: 5%;
      opacity: 1;
    }
  
    35% {
      width: 17%;
    }
  
    64% {
      width: 51%;
    }
  
    81% {
      width: 70%;
    }
  
    90% {
      width: 86%;
      opacity: 1;
    }
  
    100% {
      width: 100%;
      opacity: 0;
    }
  }

  .file-upload-design2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 5px;
 }

  .file-box {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px; /* Adjust this value to your preference */
    height: 180px; /* Adjust this value to your preference */
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
 }
 
 .file-box span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 
 .file-box .mx-auto {
    align-self: center;
 }
 
 .file-box button {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
    background: transparent;
    border: none;
 }

 .file-box span:hover {
  overflow: visible;
 }

 .installer2 {
  width: 200px;
  height: 40px;
}

.installer2 label {
  position: absolute;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.installer2 label input {
  display: none;
}

.installer2 label span {
  position: absolute;
  height: 40px;
  width: 200px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #3F8EFC;
  border-radius: 5px;
}

.installer2 label input:checked ~ span {
  background: #87E544;
  animation: downloadSuccess2 3.1s ease;
}

.installer2 label span:after {
  content: 'CONVERT';
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
}

.installer2 label input:checked ~ span:after {
  content: 'Thank you!';
  animation: downloadState2 5s;
}

.installer2 label span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: rgba(255,255,255,.2);
}

.installer2 label input:checked ~ span:before {
  animation: downloadProgress2 7s cubic-bezier(.67,.13,.1,.81);
}

@keyframes downloadSuccess2 {
  0%, 90% {
    background: #3F8EFC;
  }

  100% {
    background: #87E544;
  }
}

@keyframes downloadState2 {
  0%, 70% {
    content: 'CONVERTING...'
  }

  100% {
    content: 'Thank you for convert!'
  }
}

@keyframes downloadProgress2 {
  0% {
    width: 5%;
    opacity: 1;
  }

  35% {
    width: 17%;
  }

  64% {
    width: 51%;
  }

  81% {
    width: 70%;
  }

  90% {
    width: 86%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

 
 
.signin {
    font-size: 1rem;
    width: 15rem;
    height: 3rem;
    letter-spacing: 0.05em;
    border: 1px solid #cbd5e0;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.signin:hover {
    border-color: rgb(255, 154, 60);;
    cursor: pointer;
    transition-duration: 0.3s;
}

