.docs-container {
    padding: 10px;
}

.doc-card.card {
    padding: 0px;
    height: 200px;
    width: 170px;
    margin-right: 20px;
    transition: transform 0.2s ease-in-out;
}

.doc-card.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.file_name {
    font-size: 13px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.doc-body:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bs-border-radius);
}

.edit-icon {
    height: 20px;
    transition: transform 0.1s ease-in-out;
}

.edit-icon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.templates-container {
    padding: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.templates {
    display: flex;
    flex-wrap: wrap;
}

#scroll_right-button {
    position: absolute;
    top: 40%;
    right: 10px;
    padding: 1px;
    border-radius: 50%;
    visibility: hidden;
    transition: visibility 0.1s;
}

#scroll_left-button {
    position: absolute;
    top: 40%;
    left: 10px;
    padding: 1px;
    border-radius: 50%;
    visibility: hidden;
    transition: visibility 0.1s;
}

.docs-container{
    position: relative;
    width: 100%;
}

.docs-container:hover #scroll_right-button,
.docs-container:hover #scroll_left-button {
    visibility: visible;
}

/* Animations */
@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
    
}