 * {
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
 } 

 .main {
    background: rgb(190, 192, 205);
    height: 100vh;
}


.contentContainer{
    background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
   
}
.radioContainer input {
    margin-left: 2rem;
    background-color: rgb(228, 165, 47);
    

}
h2 {
    text-align: center;
    padding-top: 4rem;
}

.formContainer input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

.formContainer {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

input {
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    background-color: rgb(190, 192, 205);
}
.formContainer button {
    border: none;
    background-color:rgb(12, 12, 47);
    border-radius: 5px;
    padding: 0.4rem 1rem;
    margin-left: 3.5rem;
    color: white;

}
@media screen and (max-width: 767px){
    .imageCard {
        display: none;
    }
    
}


