body {
    background-color: white;
}
.mainContainer {
    background-color: #616472;
    height: 90vh;
    width: 90vw;
    margin-left: 60px;
    margin-top: 40px;
    border-radius: 15px;

}

.radioContainer{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background-color: rgb(12, 12, 47);
    


}
.radioContainer input {
    margin-left: 2rem;

}
h2 {
    text-align: center;
    padding-top: 4rem;
}

.formContainer input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

.formContainer {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

input {
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    background-color: antiquewhite;
}
.formContainer button {
    border: none;
    background-color: #f1e0de;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    margin-left: 3.5rem;

}