# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/lawris/logs/authentication-2f5cc-firebase-adminsdk-f0dy2-c01b29d1e6.json
/logs/authentication-2f5cc-firebase-adminsdk-f0dy2-c01b29d1e6.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/bin
/lib64

/package-lock.jsonlawris_django/authentication/migrations/
