asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.4
Django==4.2.7
django-extensions==3.2.3
idna==3.4
lxml==4.9.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
pdfminer.six==20221105
pdfplumber==0.10.2
Pillow==10.0.1
protobuf==4.21.12
pycparser==2.21
pypdfium2==4.20.0
python-docx==0.8.11
requests==2.31.0
sqlparse==0.4.4
typing-extensions==4.7.1
urllib3==2.0.5
